---

node-name: {{ inventory_hostname }}
{% if k3s_node_label is defined %}
node-label:
{% for label in k3s_node_label %}
  - {{ label | quote }}
{% endfor %}
{% endif %}

{% if k3s_node_taint is defined %}
node-taint:
{% for taint in k3s_node_taint %}
  - {{ taint | quote }}
{% endfor %}
{% endif %}

{% if k3s_default_local_storage_path is defined %}
default-local-storage-path: {{ k3s_default_local_storage_path }}
{% endif %}
